
    <header class="menu_header">
        <div class="navigation">
          
                <div class="nav" role="presentation" routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}" routerLink="/"> <a>Головна</a></div>
                <div  class="nav" role="presentation"  routerLinkActive="active"  routerLink="/main"><a>Товари</a></div>
                <div  class="nav" role="presentation"  routerLinkActive="active" routerLink="/about_us"><a >Про нас</a></div>
                <div  class="nav" role="presentation"  routerLinkActive="active" routerLink="/contacts"><a >Контакти</a></div>
              
        </div>
    </header> 
    <router-outlet></router-outlet>