<footer>
  <div class="footer_background">
      <div class="footer_navigation">
          <a  class="footer_navigation" routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}" routerLink="/">Головна</a>
          <a  class="footer_navigation" role="presentation"  routerLinkActive="active"  routerLink="/main">Товари</a>
          <a  class="footer_navigation" role="presentation"  routerLinkActive="active" routerLink="/about_us">Про нас</a>
          <a  class="footer_navigation" role="presentation"  routerLinkActive="active" routerLink="/contacts">Контакти</a>
          <a (click)="goTo()" class="footer_navigation admin_btn">Admin</a>
  </div>
  
      <div class="all_rights_reserved" >2018 © All rights reserved</div>
  </div>
  <!-- <div  class="nav" role="presentation"  routerLinkActive="active"  routerLink="/admin"><a>Admin</a></div> -->
    <address>
      Written by <a href="igopko1996@gmail.com">Igor Chorniy</a><br> 
      Visit us at:<br>
      Igorko.com<br>
      Lviv<br>
      Ukraine
      </address>
</footer>


