<body>
  <div class="wrap">  
<h1>Porsche Ukraine LLC</h1>
<div class="inf_box">
  <div class="street_inf">
  Pavla Tychyny ave. 1V<br>
  Office "B", 4th floor<br>
  02152 Kyiv, Ukraine 
  </div>
  <div class="phone_inf">
    <a href="+380 /44/ 492 97 27">Tel: +380 /44/ 492 97 27</a><br>
    <a href="+380 /44/ 492 97 26">Fax: +380 /44/ 492 97 26</a>
  </div>
</div>
<hr class="hr80">  

<div>
  <div class="overlay" id="Overlay"></div>
  <header>
     
<div class="loginBlock">
    <p class="text_choose">Choose your way!</p>
    <div class="reg_area"> 

  <div class="login_area">
    <p class="login_text" >Log to us</p>
    <app-login></app-login>
  </div>
  <div class="register_area">
    <p class="register_text">Register to us</p>
    <app-sign-up></app-sign-up>
    </div>
  <!-- <div id="UserStatus" class="userStatusBlock"></div> -->
  <!-- <input type="button" value ="Sign In" id="SignIn" class="signInButtom"> -->
  <!-- <input type="button" value ="Sign Up" id="SignUp" class="signUpButtom"> -->
</div>
</div>
  </header>

<div class="modal" id="RegistrBlock">
  <h1>Registration</h1>
  <input type="text" id="NewLogin">
  <br><br>
  <input type="text" id="NewPassword">
  <br><br>
  <input type="button" value ="Create new User" id="Registration" class="regButtom">
  <input type="button" value ="Close" id="CloseRegBlock" class="closeButtom">
</div>
</div>

</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10302.702525351888!2d24.014749142051365!3d49.792164520641954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae7d16b1f4e1f%3A0x3e46f59835e77894!2z0LLRg9C70LjRhtGPINCh0YLRgNC40LnRgdGM0LrQsCwgOTEsINCb0YzQstGW0LIsINCb0YzQstGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNzkwMDA!5e0!3m2!1suk!2sua!4v1525863997170" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<div class="leadership">
<h2>Керівництво</h2>
<br><br>
<div>
  ДИРЕКТОР – Чернекий Олег Степанович<br><br>

  e-mail -   boss@galio.com.ua<br><br>
  
  Головний інженер  - Свий Володимир Михайлович<br><br>
  
  e-mail - technical@galio.com.ua<br><br>
  
  Проектно-конструкторський відділ<br><br>
  
  Головний інженер проекту – <br><br>
  
  e-mail -   project@galio.com.ua<br><br>
  
  Будівельно - монтажна дільниця<br><br>
  
  Начальник БМД – Лінвич Павло Олександрович<br><br>
  
  e-mail - bmd@galio.com.ua<br><br>
  
  Виробничо - технічний відділ<br><br>
  
  Начальник відділу - <br><br>
  
  e-mail - vtv@galio.com.ua<br><br>
  
  Бухгалтерія<br><br>
  
  Головний бухгалтер – Лека Галина Романівна<br><br>
  
  e-mail - econom@galio.com.ua<br><br>
  
  Секретаріат<br><br>
  
  менеджер з персоналу - Шед Надія Михайлівна<br><br>
  
  e-mail - info@galio.com.ua<br><br>
</div>

</div>
</body>