<body>
  <h1>Your choise:</h1>

    <p class="items_title">
      {{items.title}}
    </p>
    <p class="items_price">
      {{items.price}}$
    </p>
    <p class="items_descriotion">
      {{item.descripion}}
    </p>

    <img [src]="items.imageSrc" alt="">
    
    <div class="information">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cumque ipsa minima eaque eligendi deserunt voluptate. 
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cumque ipsa minima eaque eligendi deserunt voluptate. 
          Iusto repudiandae obcaecati, voluptatem placeat quaerat accusamus asperiores ut recusandae. Facere aut impedit quia.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cumque ipsa minima eaque eligendi deserunt voluptate. 
          Iusto repudiandae obcaecati, voluptatem placeat quaerat accusamus asperiores ut recusandae. Facere aut impedit quia.
          Iusto repudiandae obcaecati, voluptatem placeat quaerat accusamus asperiores ut recusandae. Facere aut impedit quia.
      </div>
      <div>
        <table>
          <tr>
            <td>Class</td>
            <td>Outlander</td>
          </tr>
          <tr>
            <td>Drive</td>
            <td>4x4</td>
          </tr>
          <tr>
            <td>Motor</td>
            <td>TFSI TDI</td>
          </tr>
          <tr>
            <td>Fuel</td>
            <td>Gasoline</td>
          </tr>
          <tr>
            <td>Extent</td>
            <td>3.3 </td>
          </tr>
          <tr>
            <td>Power</td>
            <td>340287 horsepower</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>Volkswagen</td>
          </tr>
          <tr>
            <td>Ambience and Elegance</td>
            <td>70.2 82.5</td>
          </tr>
        </table>
      </div>
</body>

