<!-- <p class="left_menu"> -->
  <aside>
    <div class="table">
        <a href="#" class="table">
            <i class="fa fa-laptop" aria-hidden="true"><span class="pl-10">Passat</span></i>
        </a>
        <a href="#" class="table">
            <i class="fa fa-mobile" aria-hidden="true"><span class="pl-10">Polo</span></i>
        </a>
        <a href="#" class="table">
            <i class="fa fa-phone" aria-hidden="true"> <span class="pl-10">Touareg</span></i>
        </a>
        <a href="#" class="table">
            <i class="fa fa-television" aria-hidden="true"><span class="pl-10">Tiguan</span></i>
        </a>
        <a href="#" class="table">
            <i class="fa fa-recycle" aria-hidden="true"><span class="pl-10">Golf</span></i>
        </a>
        <button (click)="goBag()">Your Bag</button>
    </div>
</aside>
<!-- </p> -->
