<base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
<div id="slider">
    <h2>Then. Now. Always</h2>
<figure>
<img src="https://cdn.volkswagen.ua/media/Models_FindModel_ModelList_Model_Image_Component/8227-17904-models-12442-image/dh-895-1ee0c7/86eec68d/1511952073/Volkswagen-New-Polo-preview.png" alt>
<img src="https://cdn.volkswagen.ua/media/Models_FindModel_ModelList_Model_Image_Component/8227-17904-models-101536-image/dh-965-1ee0c7/a63c939a/1512982164/Volkswagen-Arteon-preview.png" alt>
<img src="https://cdn.volkswagen.ua/media/Models_FindModel_ModelList_Model_Image_Component/8227-17904-models-45758-image/dh-877-1ee0c7/1dd0a0a9/1472742566/Volkswagen-Tiguan-preview.png" alt>
<img src="https://img.sm360.ca/ir/w640h390c/images/newcar/2017/volkswagen/jetta-gli/autobahn/sedan/exteriorColors/10821_cc0640_032_0q0q.png" alt>
<img src="https://cdn.volkswagen.ua/media/Models_FindModel_ModelList_Model_Image_Component/8227-17904-models-101536-image/dh-965-1ee0c7/a63c939a/1512982164/Volkswagen-Arteon-preview.png" alt>
</figure>
</div>