/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons"); */

/* html, body,.background,.wrap{
    display: flex;
    flex-direction: column;
}

header, footer{
    flex: 0;
}

main{
    flex: 1;
}  */

/* body{
    overflow-x: hidden;
} */